@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
}

.section2 {
  background-image: linear-gradient(rgba(78, 66, 57, 0.9), rgba(78, 66, 57, 0.9)), url(Assets/bg-masthead.jpg);
  background-size: 100% 100%;
}